#!/usr/bin/env python
PACKAGE = "laser_angle_filter"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 参数名, 数据类型, 掩码, 描述, 默认值, 最小值, 最大值 (单位：度)
gen.add("angle1_min", double_t, 0, "Filter 1 Min Angle (deg)", -45.0, -180.0, 180.0)
gen.add("angle1_max", double_t, 0, "Filter 1 Max Angle (deg)", -30.0, -180.0, 180.0)

gen.add("angle2_min", double_t, 0, "Filter 2 Min Angle (deg)",  30.0, -180.0, 180.0)
gen.add("angle2_max", double_t, 0, "Filter 2 Max Angle (deg)",  45.0, -180.0, 180.0)

exit(gen.generate(PACKAGE, "laser_angle_filter", "LaserFilter"))